/* 모바일 */
@media screen and (max-width : 600px) {
    /* 최상단 */
    .mainArea{background: url('../images/main-bg.png') no-repeat center / cover;}
    .mainArea div{padding: 136px 0 204px; background: url('../images/main-img.png') no-repeat right bottom / 204px;}
    .mainArea div p{font-size: 15px; font-weight: 500; color: white; line-height: 38px; margin-bottom: 6px;}
    .mainArea div h2{max-width: 228px; margin-bottom: 34px;}
    .mainArea div h2 img{width: 100%;}
    .mainArea div ul{display: flex;}
    .mainArea div ul li:not(:last-child){margin-right: 10px;}
    .mainArea div ul li a{display: block; width: 42px; height: 42px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .mainArea div ul li:nth-child(1) a{background-image: url('../images/m-btn-appstore.png');}
    .mainArea div ul li:nth-child(2) a{background-image: url('../images/m-btn-googleplay.png');}

    /* 컨텐츠 */
    section{font-weight: 400;}
    section h2{font-size: 24px; line-height: 32px; margin-bottom: 20px;}
    section h2 mark{color: #22d98a; font-weight: 600; position: relative;}
    section h2 mark::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 14px; background-color: #22d98a; opacity: 0.15;}
    section p{font-size: 16px; color: #333; line-height: 24px;}
    section:nth-of-type(2n + 1) , section:nth-of-type(2n) > div{padding-top: 90px; background-repeat: no-repeat; background-position: right bottom 50px; background-size: 320px;}
    section:nth-of-type(1){background-image: url('../images/m-value-img.png'); padding-bottom:  399px;}
    section:nth-of-type(2) > div{background-image: url('../images/m-stop-img.png'); padding-bottom: 557px;}
    section:nth-of-type(3){background-image: url('../images/m-gift-img.png'); padding-bottom: 515px;}
}

/* 테블릿 */
@media screen and (min-width : 601px) and (max-width : 1100px) {
    /* 최상단 */
    .mainArea{background: url('../images/main-bg.png') no-repeat center / cover;}
    .mainArea div{padding: 135px 0 375px; background: url('../images/main-img.png') no-repeat right bottom / 400px;}
    .mainArea div p{font-size: 30px; font-weight: 500; color: white; line-height: 38px; margin-bottom: 6px;}
    .mainArea div h2{max-width: 474px; margin-bottom: 20px;}
    .mainArea div h2 img{width: 100%;}
    .mainArea div ul{display: flex;}
    .mainArea div ul li:not(:last-child){margin-right: 20px;}
    .mainArea div ul li a{display: block; width: 50px; height: 50px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .mainArea div ul li:nth-child(1) a{background-image: url('../images/m-btn-appstore.png');}
    .mainArea div ul li:nth-child(2) a{background-image: url('../images/m-btn-googleplay.png');}

    /* 컨텐츠 */
    section{font-weight: 400;}
    section h2{font-size: 40px; line-height: 48px; margin-bottom: 22px;}
    section h2 mark{color: #22d98a; font-weight: 600; position: relative;}
    section h2 mark::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 26px; background-color: #22d98a; opacity: 0.15;}
    section p{font-size: 18px; color: #333; line-height: 30px;}
    section:nth-of-type(2n + 1) , section:nth-of-type(2n) > div{padding-top: 90px; background-repeat: no-repeat; background-position: right bottom 50px;}
    section:nth-of-type(2n + 1){background-size: 537.6px;}
    section:nth-of-type(2n) > div{background-size: 538.3px;}
    section:nth-of-type(1){background-image: url('../images/m-value-img.png'); padding-bottom: 610px;}
    section:nth-of-type(2) > div{background-image: url('../images/m-stop-img.png'); padding-bottom: 875.91px;}
    section:nth-of-type(3){background-image: url('../images/m-gift-img.png'); padding-bottom: 804.13px;}
}

/* 데스크 탑 */
@media screen and (min-width : 1101px) {
    /* 최상단 */
    .mainArea{background: url('../images/main-bg.png') no-repeat center / cover;}
    .mainArea div{padding: 196px 0 138px; background: url('../images/main-img.png') no-repeat right bottom / 580px;}
    .mainArea div p{font-size: 30px; font-weight: 500; color: white; line-height: 38px; margin-bottom: 22px;}
    .mainArea div h2{max-width: 474px; margin-bottom: 70px;}
    .mainArea div h2 img{width: 100%;}
    .mainArea div ul{display: flex;}
    .mainArea div ul li:not(:last-child){margin-right: 20px;}
    .mainArea div ul li a{display: block; height: 58px; text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover;}
    .mainArea div ul li:nth-child(1) a{width: 188px; background-image: url('../images/btn-appstore.png');}
    .mainArea div ul li:nth-child(2) a{width: 204px; background-image: url('../images/btn-googleplay.png');}

    /* 컨텐츠 */
    section{font-weight: 400;}
    section h2{font-size: 40px; line-height: 48px; margin-bottom: 22px;}
    section h2 mark{color: #22d98a; font-weight: 600; position: relative;}
    section h2 mark::before{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 26px; background-color: #22d98a; opacity: 0.15;}
    section p{font-size: 18px; color: #333; line-height: 30px;}
    section:nth-of-type(2n + 1) , section:nth-of-type(2n) > div{height: 640px; display: flex; flex-direction: column; justify-content: center; background-repeat: no-repeat;}
    section:nth-of-type(2n + 1){background-position: left center; background-size: 50%; align-items: flex-end;}
    section:nth-of-type(2n + 1) > *{width: 460px;}
    section:nth-of-type(2n) > div{background-position: right center; background-size: 63.55%;}
    section:nth-of-type(1){background-image: url('../images/value-img.png');}
    section:nth-of-type(2) > div{background-image: url('../images/stop-img.png');}
    section:nth-of-type(3){background-image: url('../images/gift-img.png');}    
}
