/* 폰트 */
header > div .linkArea ,
section{font-family: 'Pretendard';}

.mainArea div p{font-family: 'SUIT', sans-serif;}
@media screen and (min-width : 1101px) {
    /* 컨텐츠 사이즈 */
    .contentSize{max-width: 1180px; width: calc(100% - 40px); margin: 0 auto;}
    :is(header , footer) > div{max-width: 1180px; width: calc(100% - 40px); margin: 0 auto;}

    /* 배경색 */
    .bgColor{background-color: #f7f9f8;}

    /* 해더 */
    header{position: fixed; left: 0; top: 0; width: 100%; height: 90px;}
    header > div{height: 100%; display: flex; justify-content: space-between; align-items: center;}
    header > div h1{max-width: 140px;}
    header > div h1 img{width: 100%;}
    header > div .linkArea{width: 64px; height: 48px; display: flex; justify-content: center; align-items: center; position: relative;}
    header > div .linkArea button{width: 100%; display: flex; align-items: center; font-size: 16px; font-weight: 700; color: white;}
    header > div .linkArea button::before , 
    header > div .linkArea button::after{content: ''; background-repeat: no-repeat; background-position: center; background-size: cover;}
    header > div .linkArea button::before{width: 26px; height: 26px; background-image: url('../images/icon-language.png'); margin-right: 4px;}
    header > div .linkArea button::after{width: 10px; height: 10px; background-image: url('../images/icon-more.png'); margin-left: 5px;}
    header > div .linkArea div{display: none; position: absolute; left: 0; top: 100%; width: 100%; padding: 10px 0; background-color: white; border: 1px solid #222;}
    header > div .linkArea div a{display: block; font-size: 14px; font-weight: 700; color: #999896; line-height: 30px; text-align: center;}
    header > div .linkArea div a:not(:last-child){margin-bottom: 2px;}
    header > div .linkArea div a:is(:hover , .active){color: #222;}

    /* 푸터 */
    footer{padding: 50px 0 60px;}
    footer div{position: relative; line-height: 30px;}
    footer div h2{position: absolute; right: 0; top: -20px; width: 140px;}
    footer div h2 img{width: 100%;}
    footer div ul{display: flex; margin-bottom: 30px;}
    footer div ul li:not(:last-child){margin-right: 30px;}
    footer div ul li a{font-size: 15px; font-weight: 400; color: #333; line-height: 30px;}
    footer div address{display: flex; flex-wrap: wrap; max-width: 700px; margin-bottom: 20px;}
    footer div address p{font-size: 13px; font-weight: 400; color: #777; display: flex; align-items: center;}
    footer div address p:not(:last-child)::after{content: ''; width: 1px; height: 10px; background-color: #c7c7c7; margin: 0 10px;}
    footer div > p{font-size: 13px; font-weight: 400; color: #777;}
}